<div class="container">
    <h3>project Details</h3>
    <div *ngIf="project">
      <div><strong>ID:</strong> {{ project.Id }}</div>
      <div><strong>Title:</strong> {{ project.Title }}</div>
      <div><strong>Description:</strong> {{ project.Description }}</div>
      <div><strong>Data</strong> {{ project.Date | date }}</div>
      <button class="btn btn-danger" (click)="deleteproject()">Delete project</button>
    </div>
    <div *ngIf="!project">
      <p>project not found.</p>
    </div>
  </div>
  