<div class="container">
    <h3>project List</h3>
    
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
          <th>sapnumber</th>
          <th>BranchID</th>
          <th>StatusID</th>
          <th>ServiceID</th>
          <th>Service_name </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects.data">
          <td>{{ project.id }}</td>
          <td>{{ project.title }}</td>
          <td>{{ project.date }}</td>
          <td>{{ project.sapnumber }}</td>
          <td>{{ project.branchId }}</td>
          <td>{{ project.statusId }}</td>
          <td>{{ project.serviceId }}</td>
          <td>{{ project.services.id }}</td>
          <td>{{ project.services.name }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="editproject(project)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteproject(project)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="projects.length === 0">
      No projects found.
    </div>
  
    <button class="btn btn-primary" [routerLink]="['/projecxt']">Add project</button>
  </div>
  