<div class="container">
  <div class="card mb-3">
    <div class="card-header">Projects</div>
    <div class="button-container">
      <button class="btn btn-primary" [disabled]="!selectedProjectId" (click)="editProject()">Edit</button>
      <button class="btn btn-primary" [disabled]="!selectedProjectId" (click)="deleteProject()">Delete</button>
      <button class="btn btn-primary" (click)="createProject()">New</button>
    </div>
    <table class="card-body table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects" (click)="selectProject(project)">
          <td>{{ project.id }}</td>
          <td>{{ project.title }}</td>
          <td>{{ project.date }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="projects.length === 0">
      No projects found.
    </div>
  </div>
  <app-project-upload *ngIf="selectedProjectId" [projectId]="selectedProjectId"></app-project-upload>
</div>
